#PierwszyObszarBoczny {
    float: left;
    width: 200px;
    height: 300px;
}

#DrugiObszarBoczny {
    float: right;
    width: 200px;
    height: 300px;
}

body {
    font-family: Verdana;
    font-size: 8pt;
    color: #000033;
    background-color: white;
    margin: 0px;
}

#Menu {
    background-color: #d62f2f;
    font-size: 7.5pt;
}

#ObszarLogowania {
    text-align: right;
    background-color: #de7c7c;
    padding: 5px 10px 5px 10px;
}

#ObszarRoboczy {
    background-color: #EEE;
    padding: 50px 20px 50px 20px;
    margin: 0px 200px 0px 200px;
}

.ElementMenuNadrzednego {
    color: #000033;
    fontweight: bold;
    padding: 3px 10px;
}

.ElementMenuRozwijanego {
    background: #F5F5F5;
    color: #000033;
    padding: 3px 10px;
}

.ZaznaczonyElementMenu {
    background: #000033;
    color: White;
}
